#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <6>;
// ------------------------------------------------------------------------------------------------------------------------------------------
// |  NA  |  NA  | MAC1 | MAC2 | |  ESC | F1  | F2  | F3  | F4  | F5  |        | F6  | F7  | F8  | F9  | F10 | F11 | F12 | DEL |  NA |  NA  |
// | Num- | Num* | Num/ | NumL | |   ~  |  1  |  2  |  3  |  4  |  5  |        |  6  |  7  |  8  |  9  |  0  |  -  |  =  |BCKSP|  NA | HOME |
// | Num+ | Num9 | Num8 | Num7 | |  TAB |  Q  |  W  |  E  |  R  |  T  |        |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |  \  |  NA | PGUP |
// | NumE | Num6 | Num5 | Num4 | | CAPS |  A  |  S  |  D  |  F  |  G  |        |  H  |  J  |  K  |  L  |  ;  |  '  |R-ENT|  NA |  NA | PGDN |
// |  NA  | Num3 | Num2 | Num1 | |SHIFT |  Z  |  X  |  C  |  V  |  B  |        |  N  |  M  |  ,  |  .  |  /  |R-SHT|  NA |  NA | UP  |  END |
// |  NA  | Num. | Num0 |  NA  | | CTRL | WIN | ALT | SPA | MAC3| MAC4|        | SPA | MAC5| MAC6|  NA |R-ALT|R-WIN|RCTRL| LEFT| DWN | RIGHT|
// ------------------------------------------------------------------------------------------------------------------------------------------
        map = <
                RC(0,2) RC(0,3)  RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)    
RC(1,0) RC(1,1) RC(1,2) RC(1,3)  RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) 
RC(2,0) RC(2,1) RC(2,2) RC(2,3)  RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)    
RC(3,0) RC(3,1) RC(3,2) RC(3,3)  RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9)   
        RC(4,1) RC(4,2) RC(4,3)  RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9)   
        RC(5,1) RC(5,2) RC(5,3)  RC(5,4) RC(5,5) RC(5,6) RC(5,7) RC(5,8) RC(5,9) 
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        
        col-gpios
            = <&nice_nano_v2 0.09 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 0.10 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 1.11 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 1.13 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 1.15 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 0.02 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 0.29 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 0.31 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 1.04 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 1.06 GPIO_ACTIVE_HIGH>

        row-gpios
            = <&nice_nano_v2 0.17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&nice_nano_v2 0.20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&nice_nano_v2 0.22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&nice_nano_v2 0.24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&nice_nano_v2 1.00 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            , <&nice_nano_v2 0.11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            ;

    };
};